.logo{
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 35px;
   color:rgb(255, 255, 255);
   
}
.body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100%;
}
.policy{
    text-align: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* .modal{
    position: relative!important;
    top: 50%!important;
    transform: translate(0, -50%)!important;
    padding: 10px!important;
} */